body{
    margin:0px;
  padding: 0px;
  background-color: #f1f2f394!important;
  font-family: 'Roboto' ;
}
.container-fluid {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.carousel-indicators li{
  background-color: black!important;
  width: 6px!important;
  height: 6px!important;
  border-radius: 100%;
  margin: 0px 10px;
}
.carousel-indicators .active{
  background-color: white!important;
}

i.far.fa-edit{
  color:#FEC61F!important;
  margin-right: 0.5rem;
}
i.fas.fa-trash {
  color:#F45549!important;
}

